<!DOCTYPE html>
<html>
<%- include("../partials/head",{titulo:"Ingresa a tu cuenta",css:"login.css"}); -%>

    <body>
        <%- include('../partials/header') %>
            <main data-aos="zoom-out-up">
                <div class="centrar">
                    <h1><img class="imagen" src="/media/img/BakeIT-3.png">INGRESA A TU CUENTA</h1>
                    <form method="POST" action="/user/login" id="login" accept-charset="UTF-8">

                        <div class="caja_de_registro ingresar">
                            <div class="texto_left">
                                <div class="register_input">
                                    <label for="Correo">Correo</label>
                                    <input type="text" name="correo" id="Email" autocomplete="on"
                                        class="form-control  <%= locals.errors && errors.correo ? 'is-invalid' : null %> "
                                        value="<%= locals.oldData ? oldData.correo : null %>">
                                    <% if (locals.errors && errors.correo) { %>
                                        <div class="text-danger">
                                            <%= errors.correo.msg %>
                                        </div>
                                        <% } %>
                                            <div class="validate_correo validation_error"></div>
                                </div>
                                <div class="register_input">
                                    <label for="Contrasena">Contraseña</label>
                                    <input type="password" name="contrasena" id="CreatePassword" autocomplete="on"
                                        class="form-control  <%= locals.errors && errors.contrasena ? 'is-invalid' : null %> ">
                                    <% if (locals.errors && errors.contrasena) { %>
                                        <div class="text-danger">
                                            <%= errors.contrasena.msg %>
                                        </div>
                                        <% } %>
                                            <div class="validate_contraseña validation_error"></div>
                                </div>
                                <label class="recordar" for="recordar">
                                    <input type="checkbox" id="checkbox_recordar" name="recordar"> Recordar mi usuario
                                </label>
                                <p><a href="/user/resetPassword" class="pass_underline">¿Olvidaste tu contraseña?</a>
                                </p>
                            </div>
                            <p>
                                <button type="submit" value="Ingresar" class="boton">Ingresar</button>
                            </p>
                            <p class="texto_chico">¿Aún no tienes cuenta?<a href="/user/register"
                                    class="pass_underline">Crea una</a></p>
                        </div>
                    </form>
                </div>

            </main>
            <%- include('../partials/footer') %>
                <script src="/js/loginValidation.js"></script>
    </body>

</html>