<!DOCTYPE html>
<html>
<%- include("../partials/head",{titulo:"Bakeit",css:"profile.css"}); -%>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="centrar">
                    <h2>Mi perfil</h2>
                </div>



                <div class="profile">
                    <div class="profile-image-container">
                        <img class="profile-image" src="/media/avatars/<%= usuario.imagen_id %>">
                    </div>
                    <div class="profile-info">
                        <p>
                            Nombre:
                            <%= usuario.nombre %> <br> Apellido:
                                <%= usuario.apellidos %> <br> Correo:
                                    <%= usuario.correo %> <br> Fecha de Nacimiento:
                                        <%= usuario.fecha_nacimiento %> <br>
                        </p>
                    </div>
                </div>
                <div>
                    <a class="boton" href="/user/update/<%= usuario.id %>">Editar Perfil</a>
                </div>


            </main>
            <%- include('../partials/footer') %>
    </body>

</html>