<!DOCTYPE html>
<html>
<%- include("../partials/head",{titulo:"Crea tu cuenta",css:"register.css"}); -%>

    <body>
        <%- include('../partials/header') %>
            <main>

                <div class="centrar">

                    <form method="POST" enctype="multipart/form-data" action="/user/register" id="create_customer" accept-charset="UTF-8">

                        <h1>Crea tu Cuenta</h1>
                        <div class="caja_de_registro">
                            <p class="texto_generico">
                                ¡Registrate y se parte de la comunidad Bakeit!
                            </p>
                            <div class="register_input">
                                <label for="nombre">Nombre
                                    <input type="text" name="nombre" id="name" autocomplete="off" 
                                    class="form-control  <%= locals.errors && errors.nombre ? 'is-invalid' : null %> " 
                                    value="<%= locals.oldData ? oldData.nombre : null %>">
                                </label>
                                <% if (locals.errors && errors.nombre) { %>
                                    <div class="text-danger">
                                        <%= errors.nombre.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="register_input">
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" id="lastName" autocomplete="off" class="form-control  <%= locals.errors && errors.apellido ? 'is-invalid' : null %> " value="<%= locals.oldData ? oldData.apellido : null %>">
                                <% if (locals.errors && errors.apellido) { %>
                                    <div class="text-danger">
                                        <%= errors.apellido.msg %>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="register_input">
                                <label for="Fecha_nacimiento">Fecha de nacimiento</label>
                                <input type="date" name="fechaNacimiento" id="birthdate" min="" max="2021-06-15" class="form-control  <%= locals.errors && errors.fechaNacimiento ? 'is-invalid' : null %> " value="<%= locals.oldData ? oldData.fechaNacimiento : null %>">
                                <% if (locals.errors && errors.fechaNacimiento) { %>
                                    <div class="text-danger">
                                        <%= errors.fechaNacimiento.msg %>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="register_input">
                                <label for="correo">Correo</label>
                                <input type="text" name="correo" id="email" autocomplete="off" class="form-control  <%= locals.errors && errors.correo ? 'is-invalid' : null %> " value="<%= locals.oldData ? oldData.correo : null %>">
                                <% if (locals.errors && errors.correo) { %>
                                    <div class="text-danger">
                                        <%= errors.correo.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="register_input">
                                <label for="Contrasena">Contraseña</label>
                                <input type="password" name="contrasena" id="password" class="form-control  <%= locals.errors && errors.contrasena ? 'is-invalid' : null %> ">
                                <% if (locals.errors && errors.contrasena) { %>
                                    <div class="text-danger">
                                        <%= errors.contrasena.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="register_input">
                                <label for="Avatar">Avatar</label>
                                <input type="file" name="imagen" id="Avatar" class="">
                                <% if (locals.errors && errors.imagen) { %>
                                    <div class="text-danger">
                                        <%= errors.imagen.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <label for="terminos">
                                <input type="checkbox" id="checkbox_terminos" name="terminos" value="terminos">
                                Acepto los Términos y Condiciones y Aviso de Privacidad
                            </label>
                            <% if (locals.errors && errors.terminos) { %>
                                <div class="text-danger">
                                    <%= errors.terminos.msg %>
                                </div>
                                <% } %>
                                    <p>
                                        <button type="submit" value="Crear" class="boton">Crear</button>
                                    </p>
                        </div>
                    </form>
                </div>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>