<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head",{titulo:"Detalle del producto",css:"productDetail.css"}); -%>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="producto">
                    <div class="producto-imagenes">
                        <img src="/data/products/<%=producto.imagenes[0].url%>" alt="Imagen del producto"
                            id="producto-imagen1">
                        <img src="/data/products/<%=(producto.imagenes[1]) ? producto.imagenes[1].url : producto.imagenes[0].url%>"
                            alt="Imagen del producto" id="producto-imagen2">
                        <img src="/data/products/<%=(producto.imagenes[2]) ? producto.imagenes[2].url : producto.imagenes[0].url%>"
                            alt="Imagen del producto" id="producto-imagen3">
                        <img src="/data/products/<%=(producto.imagenes[3]) ? producto.imagenes[3].url : producto.imagenes[0].url%>"
                            alt="Imagen del producto" id="producto-imagen4">
                    </div>
                    <div class="producto-detalles">
                        <h1 class="nombre">
                            <%=producto.nombre%>
                        </h1>
                        <p class="precio">$<%=producto.precio%>.00</p>
                        <p class="decuento">$<%=producto.precio - (producto.precio * (producto.ofertas.descuento/100))%>
                                .00
                        </p>
                        <p class="descripcion">
                            <%=producto.descripcion%>
                        </p>
                        <div class="contenido-caja">
                            <div class="contenido">
                                <p>La caja incluye:</p>
                                <ul>
                                    <% for(let elemento of producto.elementos) { %>
                                        <li>
                                            <%=elemento%>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>
                            <div class="porciones">
                                <p>Porciones: <%=producto.porciones%>
                                </p>
                            </div>
                        </div>
                        <form action="/cart/pedido" method="POST"
                            class="container-fluid d-flex align-items-center justify-content-end p-0">
                            <input type="hidden" name="producto_id" value="<%=producto.id%>">
                            <button type="submit" class="boton-principal"> Añadir </button>
                        </form>

                    </div>
                </section>
                <% if(producto.recomendados.length> 0) { %>
                    <section class="ocasion-especial">
                        <h2>¿Acaso es una ocasión especial?</h2>
                        <p class="subtitulo">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="barra-separacion"></div>
                        <div class="kits">
                            <% for(let recomendado of producto.recomendados){ %>
                                <article class="kit-ocasion-especial">
                                    <img src="/data/products/<%=recomendado.imagenes[0].url%>"
                                        alt="Imagen del producto">
                                    <p class="nombre">
                                        <%=recomendado.nombre%>
                                    </p>
                                    <p class="precio">$<%= recomendado.precio.toFixed(2) %>
                                    </p>
                                    <button type="button" class="boton">Ver</button>
                                </article>
                                <%}%>
                        </div>
                    </section>
                    <% } %>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>