<!DOCTYPE html>
<html>
<%- include("./partials/head",{titulo:"BakeIt",css:"galeria.css"}); -%>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="banner">
                    <h1>Menú</h1>
                </div>
                <div class="categorias">
                    <article class="categoria">
                        <img class="categoria-img" src="/media/img/noDisponible.png" alt="Icono de la categoría">
                        <p>Todos</p>
                    </article>
                    <article class="categoria">
                        <img class="categoria-img" src="/media/img/noDisponible.png" alt="Icono de la categoría">
                        <p>Categoría 1</p>
                    </article>
                    <article class="categoria">
                        <img class="categoria-img" src="/media/img/noDisponible.png" alt="Icono de la categoría">
                        <p>Categoría 2</p>
                    </article>
                </div>
                <div class="productos">
                    <% for(let producto of productos) { %>
                        <a class="producto" href="/products/detail/<%=producto.id%>">
                            <img class="producto-img" src="<%=producto.imagenes[0]%>" alt="Imagen del producto">
                            <div class="producto-info">
                                <p class="nombre">
                                    <%=producto.nombre%>
                                </p>
                                <p class="precio">
                                    $<%=producto.precio%>.00
                                </p>
                            </div>
                        </a>
                        <% } %>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>