<!DOCTYPE html>
<html>
<%- include("./partials/head",{titulo:"BakeIt",css:"galeria.css"}); -%>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="titulo">
                    <h1>MENÚ</h1>
                </div>
                <div class="categorias container">
                    <div class="categorias-postres">
                        <div class="encabezado">
                            <h2>POSTRES</h2>
                        </div>
                        <div class="contenido">
                            <button class="categoria-boton" id="postrestodos">
                                <article class="categoria">
                                    <img class="categoria-img" src="/data/products/img-all.png" alt="Icono de la categoría">
                                    <p class="categoria-nombre">Todos</p>
                                </article>
                            </button>
                            <% for(let categoria of categorias) { %>
                                <% if(categoria.tipo == "postre") { %>
                                    <button class="categoria-boton" id="postres<%= categoria.id %>">
                                        <article class="categoria">
                                            <img class="categoria-img" src="data/products/<%=categoria.imagen.url%>"
                                                alt="Icono de la categoría">
                                            <p class="categoria-nombre"><%=categoria.nombre%></p>
                                        </article>
                                    </button>        
                                <% } %>                        
                            <% } %>                                    
                        </div>                       
                    </div> 
                    <div class="categorias-kits">
                        <div class="encabezado">
                            <h2>KITS</h2>
                        </div>
                        <div class="contenido">
                            <button class="categoria-boton" id="kitstodos">
                                <article class="categoria">
                                    <img class="categoria-img" src="/data/products/img-all.png" alt="Icono de la categoría">
                                    <p class="categoria-nombre">Todos</p>
                                </article>
                            </button>
                            <% for(let categoria of categorias) { %>
                                <% if(categoria.tipo == "kit") { %>
                                    <button class="categoria-boton" id="kits<%= categoria.id %>">
                                        <article class="categoria">
                                            <img class="categoria-img" src="data/products/<%=categoria.imagen.url%>"
                                                alt="Icono de la categoría">
                                            <p class="categoria-nombre"><%=categoria.nombre%></p>
                                        </article>
                                    </button>                           
                                <% } %>     
                            <% } %>                                    
                        </div>                        
                    </div>                    
                </div>
                <div class="productos container">
                    <% for(let producto of productos) { %>
                        <div class="producto" data-categoria="<%= producto.categoria.id %>">
                            <a href="/products/detail/<%=producto.id%>">
                                <img class="producto-img" src="data/products/<%=producto.imagenes[0].url%>"
                                    alt="Imagen del producto">
                                <div class="producto-info">
                                    <p class="nombre">
                                        <%=producto.nombre%>
                                    </p>
                                    <p class="precio">
                                        $<%=producto.precio.toFixed(2)%>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <% } %>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>